:host {
  display: block;
  font-size: 18px;
  font-weight: 500;

  > * {
    padding: 8px 16px 16px;
    border-radius: 4px;

    p {
      background: inherit;
      background-clip: text;
      color: transparent;
      filter: invert(1);
    }
  }
}
