<p>I'm all for fine-grained reactivity, but we don't need signals for this. We can still just use rxjs.</p>
<p>With super minor changes to the `AsyncPipe`, we can have the same results using rxjs</p>
<p>`src/app/pipes/my-async.pipe.ts` <-- change `markForCheck` to `detectChanges`</p>
<br>
<p>The example below showcases 3 components, one nested in the other: parent -> child -> grand child</p>
<p>Whenever this component runs change detection, its background color is randomized</p>

<app-parent></app-parent>

<div class="buttons">
  <button (click)="dataService.incSignal()">Signal+</button>
  <button (click)="dataService.incObservable()">Observable+ (async pipe)</button>
  <button (click)="dataService.incObservable2()">Observable+ (my-async pipe)</button>
</div>

<p>When using `signals` out of the box (click "Signal+"), only grand child is updated</p>
<p>When using `AsyncPipe` out of the box (click "Observable+ (async pipe)"), all components are updated</p>
<p>But with a minor change to `AsyncPipe`, we get the same behavior as signals (click Observable+ (my-async pipe))</p>
